// color pallette
$primary: #fad02c;
$primary-dark: darken($primary,20%);
$primary-light: lighten($primary,20%);
$white: #fcfcfc;
$dark: #282120;
$grey: #f8efe4;
$secondary: $grey;


$primary-color: $white;
$secondary-color: $dark;