#mainHeader{
    position: absolute;
    width: 100%;
}
.mainNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;

    &--link{
        color: $white;
        text-decoration: none;
        padding: 0.3em 1em;
        font-size: 1.2rem;
        transition: color 250ms ease-out;
        position: relative;
        &::after{
            content: '';
            width: 50%;
            height: 3px;
            background: $primary-color;
            position: absolute;
            left: 50%;
            bottom: -3px;
            transform: translateX(-50%) scaleX(0);
            transition: transform 0.3s ease-in-out;
        }
        &:hover,&:focus{
            color: $primary-color;
        }
        &.active::after,&:hover::after,&:focus::after{
            transform: translateX(-50%) scaleX(1);
        }
    }

    &--logo img{
        height: 80px;
    }
}